<form method="post" action="~/Games/Add">
    
    <br />
    <label>Title</label>
    <input type="text" name="Title" />
    <br />
    <label>Genre</label>
    <input type="text" name="Genre" />
    <br />
    <label>Developer</label>
    <input type="text" name="Developer" />
    <br />

    <button>Save</button>
</form>