@model Tournament.Model.Models.Game;

<link href="~/css/Test.css" rel="stylesheet" />

<h1>ASP.Net</h1>
<div class="test" style="height:500px">
@if (Model != null)
{
    <label>@Model.Id</label>
    <br />
    <label>@Model.Title"</label>
    <br />
    <label>@Model.Genre"</label>
}
</div>


